{% if status == project_statuses.NOT_APPROVED %}
<span
    class="inline-flex items-center rounded-full bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/20">Non
    approvato</span>
{% elif status == project_statuses.REQUIRES_CHANGES %}
<span
    class="inline-flex items-center rounded-full bg-yellow-50 px-2 py-1 text-xs font-medium text-yellow-700 ring-1 ring-inset ring-yellow-600/20">Richiede
    modifiche</span>
{% elif status == project_statuses.SUBMITTED_FOR_EVALUATION %}
<span
    class="inline-flex items-center rounded-full bg-gray-50 px-2 py-1 text-xs font-medium text-gray-700 text-center ring-1 ring-inset ring-gray-600/20">Sottomesso
    per valutazione</span>
{% elif status == project_statuses.APPROVED %}
<span
    class="inline-flex items-center rounded-full bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Approvato</span>
{% endif %}